@model IEnumerable<WebApplicationKnjižnica.Models.Knjiga>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum_posudbe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum_posudbe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KnjigaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KnjigaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KnjigaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
